<app-nav-bar></app-nav-bar>
<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="wrapper">
					<div class="row no-gutters">
						<div class="col-md-6">
							<div class="contact-wrap w-100 p-lg-5 p-4">
								<h3 class="mb-4">Send us a message</h3>
								<div id="form-message-warning" class="mb-4"></div>
								<form [formGroup]="FormData" (ngSubmit)="sendEmail(FormData.value)" id="contactForm"
									name="contactForm" class="contactForm" autocomplete="off" > 
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<input type="text" class="form-control" name="name" id="name"
												placeholder="Name" formControlName="name">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="email" class="form-control"  name="email" id="email"
													placeholder="Email" formControlName="email">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<input type="tel" class="form-control" name="phone" id="phone"
													placeholder="Phone" formControlName="phone">
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<textarea name="message" class="form-control" id="message" cols="30"
													rows="6" placeholder="Message" formControlName="message"></textarea>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<button type="submit" [disabled]="FormData.invalid" class="btn btn-primary">Send Message</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-6 d-flex align-items-stretch">
							<div class="info-wrap w-100 img">
								<div class="contact-us-container"> 
								<h3>Contact us</h3>
								<p class="mb-4">We're open for any suggestions, <br>Please feel free to contact me if you need any further information.</p>
								<div class="dbox w-100 new-flex">
									<div class="icon new-flex">
										<i class="fas fa-map-marked-alt fa-2x"></i>
									</div>
									<div class="text align-text">
										<p><span>Address</span><br> Bunglow No. 31, Sai Shradha Nagar, Godhani, Nagpur, Maharashtra.</p>
									</div>
								</div>
								<div class="dbox w-100 new-flex">
									<div class="icon new-flex">
										<i class="fas fa-mobile-alt fa-2x"></i>
									</div>
									<div class="text align-text">
										<p><span>Phone</span><br> <a href="tel://7218511031">721-8511-031</a>, <a href="tel://7397915395">739-7915-395</a></p>
									</div>
								</div>
								<div class="dbox w-100 new-flex">
									<div class="icon new-flex">
										<i class="fas fa-envelope-open-text fa-2x"></i>
									</div>
									<div class="text align-text">
										<p><span>Email</span><br> <a href="mailto:kabirahmar1119@gmail.com">kabirahmar1119@gmail.com</a>
										</p>
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script> -->