.dashboard-container{
    position: relative;
}
.dashboard-image{
    height: 90vh;
    background: linear-gradient(dodgerblue, rgba(0, 0, 0, 0.8)), url('../../assets/p1.jpg');    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
}

.header-text{
    font-size: 64px;
    color: white;
    font-weight: 600;

}

.header-subtitle{
    font-size: 24px;
    color: white;
}



h3{
    font-size: 28px;
    font-weight: 800;
    background-color: rgb(29 20 175 / 70%);
    margin: 36px auto;
    padding: 8px 30px;
    color: #e5e5e5;
    border-top: 3px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    width: max-content;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px #888;
}

h5{
    font-size: 24px;
    font-weight: 600;
    margin: 10px auto;
    width: max-content;
}

.commitment-item-container{
    display: flex;
    flex-direction: row;
    padding: 7%;
    column-gap: 3%;
    text-align: center;
}

.new-flex{
    color:#666;
    transition: all 0.5s ease-in-out;
    background: #ddd;
    padding: 3%;
    border-radius: 2%;
}

.new-flex:hover{
    color: rgb(0, 102, 255);
}