<app-nav-bar></app-nav-bar>
<section>
    <div class="dashboard-container">
        <div class="dashboard-image">
            <h1 class="header-text">YOUR BEST CHOOSE</h1>
            <p class="header-subtitle">
                With over 25 years of experience, we have the knowledge to serve you.
            </p>
        </div>
    </div>
</section>
<section>

    <div class="commitment-item-container">
        <div class="commitment-item">
            <div class="new-flex">
                <i class="fas fa-medal fa-5x p-4"></i>
                <h5 class="p-1">BEST QUALITY</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eaque quisquam quaerat nobis mollitia unde commodi in ex, perspiciatis
                    eveniet, libero natus ullam dicta blanditiis vel praesentium totam
                    modi adipisci?
                </p>
            </div>
        </div>

        <div class="commitment-item">
            <div class="new-flex">
                <i class="fas fa-business-time fa-5x p-4"></i>
                <h5 class="p-1">ON TIME</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eaque quisquam quaerat nobis mollitia unde commodi in ex, perspiciatis
                    eveniet, libero natus ullam dicta blanditiis vel praesentium totam
                    modi adipisci?
                </p>
            </div>
        </div>

        <div class="commitment-item">
            <div class="new-flex">
                <i class="fas fa-synagogue fa-5x p-4"></i>
                <h5 class="p-1">EXPERIENCED</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eaque quisquam quaerat nobis mollitia unde commodi in ex, perspiciatis
                    eveniet, libero natus ullam dicta blanditiis vel praesentium totam
                    modi adipisci?
                </p>
            </div>
        </div>
    </div>
</section>
