<app-nav-bar></app-nav-bar>

<section>
    <div class="dashboard-container">
        <div class="dashboard-image">
            <h1 class="header-text">DELIVERING PERFECTION ACROSS CITIES</h1>
            <p class="header-subtitle">
                With over 25 years of experience, we have the knowledge to serve you.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="commitment-item-container">
        <div class="commitment-item">
            <div class="new-flex">
                <i class="fas fa-medal fa-5x p-4"></i>
                <h5 class="p-1">BEST QUALITY</h5>
                <p>
                    Kabir Enterprises is committed to meeting the highest quality standards without compromising our safety culture.
                </p>
            </div>
        </div>

        <div class="commitment-item">
            <div class="new-flex">
                <i class="fas fa-business-time fa-5x p-4"></i>
                <h5 class="p-1">ON TIME</h5>
                <p>
                    In our company, we respect the customer's schedule and always complete projects on time.
                </p>
            </div>
        </div>

        <div class="commitment-item">
            <div class="new-flex">
                <i class="fas fa-synagogue fa-5x p-4"></i>
                <h5 class="p-1">EXPERIENCED</h5>
                <p>
                    As the saying goes practice makes perfect. With our many years of experience, you can be sure that we will carry out the work exactly according to your specifications.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="stats-container">
        <div class="stats-items">
            <h5>25+</h5>
            <p>EXPERIENCE</p>
        </div>
        <div class="stats-items">
            <h5>65+</h5>
            <p>CLIENTS</p>
        </div>
        <div class="stats-items">
            <h5>89+</h5>
            <p>PROJECTS</p>
        </div>
    </div>
</section>

<div class="commitment-item-container">
    <div class="commitment-item">
        <div class="new-flex">
            <i class="fas fa-medal fa-5x p-4"></i>
            <h5 class="p-1">BEST QUALITY</h5>
            <p>
                Kabir Enterprises is committed to meeting the highest quality standards without compromising our safety culture.
            </p>
        </div>
    </div>
</div>
