<app-nav-bar></app-nav-bar>
<section>
    <div class="dashboard-container">
        <div class="dashboard-image">
            <h1 class="header-text">BUILD A BETTER WORLD</h1>
            <p class="header-subtitle">
                We'll guide you to improve your home and fall in love with it too.
            </p>
        </div>
    </div>
</section>
<section class="grey lighten-1 p-3 service-section">
    <div class="service-container">
        <h3>OUR SERVICES</h3>
        <div class="service-item-container">
            <img src="../../assets/p8.jpg" />
            <div>
                <h5>Civil Construction</h5>
                <p>
                    We strive to develop and understand the expectations of the project and manage the needs with a qualified and personal design team. Innovation must take place throughout the project.
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p5.jpg" />
            <div>
                <h5>Renovation</h5>
                <p>
                    Build your dream home by strengthening what you already have. From modernizing the exterior to refreshing interiors. Our team will guide you through the planning process and help you identify the best strategies, materials and designs for your home transformation.
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p9.jpg" alt="../../assets/large-logo.png"/>
            <div>
                <h5>Painting</h5>
                <p>
                    Whether you want to remodel your entire place or give your artwork a unique effect, our painters will make your dream come true. They are skilled in various painting techniques to apply textures and patterns on the wall. They know how to paint the walls, ceilings, and other parts of the building.
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p10.jpg" />
            <div>
                <h5>Plumbing Work</h5>
                <p>
                    Our plumbing and sanitation system provide clean water and remove waste. As a result, they protect people from infectious diseases. Domestic plumbing work includes block and drainage, plumbing or sinks, toilet and sanitation work, bathroom fixtures or any other plumbing work involving plumbing, pumps or tanks.
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p11.jpg" />
            <div>
                <h5>Electric Work</h5>
                <p>
                    Electrical installation work or electrical repair work? When it comes to devices, it is best not to test the DIY answers you read or hear. There is a risk of electric shock and fire. In the case of electricity, it is recommended to consult a specialist. Not only you need good knowledge, but you also need the right tools and equipment.                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p7.jpg" />
            <div>
                <h5>Tiles Fitting</h5>
                <p>
                    Before laying the tile floor, the floor covering underneath must be properly laid to avoid water damage and ensure a stable foundation. We make sure we have all the materials needed for installation. We always make sure that the floor has the necessary reinforcement for proper installation.
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p12.jpg" />
            <div>
                <h5>Door & Aluminium Window</h5>
                <p>
                    Our experienced installers ensure that everything is properly installed to allow trouble-free maintenance for years to come. Whether you prefer sliding or casement, or a speciality design, our assembly service gives you the luxurious look you want.
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="redirect-contact">
        <h4>START EXECUTING YOUR PROJECT</h4>
        <button (click)="sendToContact()">REQUEST QUOTE</button>
    </div>
</section>