

.dashboard-container{
    position: relative;
}
.dashboard-image{
    height: 90vh;
    background: linear-gradient(rgb(68, 20, 175), rgba(0, 0, 0, 0.8)), url('../../assets/p4.jpg');    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
}

.header-text{
    font-size: 64px;
    color: white;
    font-weight: 600;

}

.header-subtitle{
    font-size: 24px;
    color: white;
}

h3{
    font-size: 28px;
    font-weight: 800;
    /* background-color: rgb(29 20 175 / 70%); */
    background: linear-gradient(rgb(4, 67, 139), rgba(45, 2, 80, 0.8));
    margin: 5% auto;
    padding: 8px 30px;
    color: #e5e5e5;
    border-top: 3px solid #e5e5e5;
    border-bottom: 3px solid #e5e5e5;
    width: max-content;
    border-radius: 5px;
    box-shadow: 0 0 20px 1px #888;
}

h5{
    font-size: 24px;
    font-weight: 400;
    margin: 10px auto;
    width: max-content;
}

.service-container{
    margin: 0px 7%;
    padding: 70px;
    background-color:rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.service-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 2.5rem;
}

.service-item-container:nth-child(odd){
    flex-direction: row-reverse;
}

.service-item-container:nth-child(even){
    flex-direction: row;
}


.service-item-container > div{
    text-align: center;
}

.service-item-container > div p{
    align-content: stretch;
}

.service-item-container > img{
    height: 100%;
    width: 40%;
    border-radius: 10px;
    margin: 20px 0px;
}
