<app-nav-bar></app-nav-bar>
<section>
    <div class="dashboard-container">
        <div class="dashboard-image">
            <h1 class="header-text">BUILD A BETTER WORLD</h1>
            <p class="header-subtitle">
                We'll guide you to improve your home and fall in love with it too.
            </p>
        </div>
    </div>
</section>
<section class="grey lighten-1 p-3 service-section">
    <div class="service-container">
        <h3>OUR SERVICES</h3>
        <div class="service-item-container">
            <img src="../../assets/p8.jpg" />
            <div>
                <h5>Civil Construction</h5>
                <p>
                    We strive to develop and understand the expectations of the project and manage the needs with a qualified and personal design team. Innovation must take place throughout the project.
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p5.jpg" />
            <div>
                <h5>Renovation</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eaque quisquam quaerat nobis mollitia unde commodi in ex, perspiciatis
                    eveniet, libero natus ullam dicta blanditiis vel praesentium totam
                    modi adipisci?
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p9.jpg" alt="../../assets/large-logo.png"/>
            <div>
                <h5>Painting</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eaque quisquam quaerat nobis mollitia unde commodi in ex, perspiciatis
                    eveniet, libero natus ullam dicta blanditiis vel praesentium totam
                    modi adipisci?
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p10.jpg" />
            <div>
                <h5>Plumbing Work</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eaque quisquam quaerat nobis mollitia unde commodi in ex, perspiciatis
                    eveniet, libero natus ullam dicta blanditiis vel praesentium totam
                    modi adipisci?
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p11.jpg" />
            <div>
                <h5>Electric Work</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eaque quisquam quaerat nobis mollitia unde commodi in ex, perspiciatis
                    eveniet, libero natus ullam dicta blanditiis vel praesentium totam
                    modi adipisci?
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p7.jpg" />
            <div>
                <h5>Tiles Fitting</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eaque quisquam quaerat nobis mollitia unde commodi in ex, perspiciatis
                    eveniet, libero natus ullam dicta blanditiis vel praesentium totam
                    modi adipisci?
                </p>
            </div>
        </div>
        <div class="service-item-container">
            <img src="../../assets/p12.jpg" />
            <div>
                <h5>Door & Aluminium Window</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
                    eaque quisquam quaerat nobis mollitia unde commodi in ex, perspiciatis
                    eveniet, libero natus ullam dicta blanditiis vel praesentium totam
                    modi adipisci?
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="redirect-contact">
        <h4>START EXECUTING YOUR PROJECT</h4>
        <button (click)="sendToContact()">GET QUOTE</button>
    </div>
</section>